{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="display-4">Erreur</h1>

        <p>
            La page demandée rencontre un problème :(
        </p>
    </div>

{% endblock %}