{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="display-4">Page non trouvé</h1>

        <p>
            La page demandée n'a pas pu être localisée. Votre URL est surement mal orthographiée ou la page n'existe plus.
        </p>
    </div>

{% endblock %}