<div class="container mt-4" id="addComment">
    <h1>Ajout d'un commentaire</h1>
    {{  form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="form-group">
                    {{  form_row(form.content) }}
                </div>
   <button type="submit" class="btn btn-outline-success">Ajouter</button>
    {{  form_end(form) }}
</div>