{% extends 'default/base_admin.html.twig' %}

{% block body %}
    {% block header %}
        {{ parent() }}
        {% endblock %}

    <h1 class="jumbotron">l'ouvrage {{ ouvrage.title }} a déjà était reservé par :</h1>

    {% if myOuvrage %}
        <ul class="list-group">
            <li class="list-group-item">{{ myOuvrage.username}}<br>
                Email de contact : {{ myOuvrage.email }}</li>
        </ul>
    {% else %}
        <div class="alert">Aucun client(es)</div>
    {% endif %}

{% endblock %}
